.box {
  overflow: hidden;
  background-color: color-mix(in srgb, var(--color-white) 20%, transparent);
  border-radius: 4rem;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
