.box {
  overflow: hidden;
  background-color: color-mix(in srgb, var(--color-white) 20%, transparent);
  border-radius: 4rem;
  padding: 1.5rem;

  .weekBox {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;

    .btn {
      padding: 0;
      border: none;
      background-color: transparent;

      svg path {
        stroke: var(--color-white);
      }
    }

    .weekOuter {
      overflow: hidden;
      width: calc(100% - 2rem - 2.4rem);
    }

    .weekInner {
      display: flex;
      align-items: center;
      column-gap: 1.4rem;
      height: 6rem;
      transition: all 0.2s;

      .weatherBox {
        flex-shrink: 0;
        transition: all 0.2s;
        font-size: 1.8rem;
        opacity: 1;
        width: 4.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 100%;
        }
      }

      .notActive {
        scale: 0.7;
        opacity: 0.5;
      }

      .prev {
        scale: 0.8;
        opacity: 0.8;
      }
    }
  }
}
