@use "./helpers" as *;

:root {
  font-size: 62.5%;

  // @include tablet {
  //   font-size: 50%;
  // }
}

body {
  background-color: var(--color-gray);
  color: var(--color-white);
  font-family: sans-serif;
}

.app {
  min-height: 100vh;
  position: relative;
}

.app-inside {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  width: 140rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: space-between;
  z-index: 10;

  @include laptop {
    width: 102rem;
  }

  @include tablet {
    width: 760px;
  }

  @include mobile {
    width: 100%;
  }
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  filter: blur(5px);
}

.sunny {
  background-image: url("../assets/backgrounds/sunny.jpg");
}

.night {
  background-image: url("../assets/backgrounds/night.jpg");
}

.rain {
  background-image: url("../assets/backgrounds/rain.jpg");
}

.cloudy {
  background-image: url("../assets/backgrounds/cloudy.jpg");
}

.night-cloudy {
  background-image: url("../assets/backgrounds/night_cloudy.jpg");
}
