.box {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 10rem);

  column-gap: 2rem;
}

.chart {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.weekly {
  grid-column: 4 / 5;
}
