@use "../../sass/helpers" as *;

.tommorowBox {
  @include bg-border;

  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  position: relative;

  span {
    font-size: 3.2rem;

    @include mobile {
      font-size: 1.8rem;
    }
  }

  .green {
    rotate: -90deg;

    path {
      stroke: rgb(10, 213, 10);
    }
  }

  .red {
    rotate: 90deg;

    path {
      stroke: rgb(230, 32, 32);
    }
  }
}
