.tommorowBox {
  background-color: color-mix(in srgb, var(--color-white) 20%, transparent);
  border-radius: 4rem;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  position: relative;

  span {
    font-size: 3.2rem;
  }

  .green {
    rotate: -90deg;

    path {
      stroke: rgb(10, 213, 10);
    }
  }

  .red {
    rotate: 90deg;

    path {
      stroke: rgb(230, 32, 32);
    }
  }
}
