.cityBox {
  .box {
    display: flex;
    column-gap: 0.7em;
    align-items: center;
    z-index: 10;
  }
  display: flex;
  align-items: center;
  position: relative;

  .showInput {
    padding: 0;
    border: none;
    background-color: transparent;
    transform: translateY(3px);

    svg path {
      stroke: var(--color-white);
    }
  }

  .searchBox {
    input {
      border: none;
      outline: none;
      border-radius: 1em;
      padding: 0.2em 0.5em;
      background-color: color-mix(in srgb, var(--color-white) 30%, transparent);
    }
  }
}
