@use "../../sass/helpers" as *;

.box {
  display: flex;
  align-items: flex-end;
  column-gap: 5rem;

  @include mobile {
    column-gap: 0;
    flex-direction: column;
    align-items: start;
  }
}

.left {
  width: 30rem;
}

.temperature {
  font-size: 6.4rem;
}

.date {
  font-size: 1.8rem;
}

.cloudy {
  font-size: 4.8rem;
  max-width: 30rem;
}

.right {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  @include mobile {
    flex-direction: row;
    row-gap: 0;
    column-gap: 1rem;
  }
}

.rightBox {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.8rem;
  }

  .value {
    font-size: 2.4rem;
  }
}
