@use "../../sass/helpers" as *;

.top {
  display: flex;
  justify-content: space-between;
}

.forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
    row-gap: 2rem;
    align-items: start;
  }
}
