.header {
  height: 32rem;
}

.top {
  display: flex;
  justify-content: space-between;
}

.forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 2rem;
}
