.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 32rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 2rem;
}
